@media (max-width: 30rem){
body, body.mobile.two-columns {
    font-size: 100%;
}
video, audio {
    width: 100%;
}
}
body {
font-family: "Roboto", sans-serif, "inherit", "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei";
line-height: 1.8em;
word-spacing: 0.2em;
background:#ffffff;
padding: 0;
margin: auto;
max-width:64em;
}

/* 页面 css */

div.text {
    max-width:64em;
    padding:1em;
    margin:auto;
}

input.line_input {
    border: none;
    border-bottom: 2px solid #FFFFFF;
    display: block;
    padding: 0px 14px 5px 0px;
    background: 0 0;
    text-align: left;
    font-size: 24px;
    color: #FFFFFF;
}

input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
}
input::-webkit-search-decoration, input::-webkit-search-cancel-button {
    display: none;
}


input.line_input:focus {
    border: none;
    border-bottom: 3px solid #FFFFFF;
    outline: 0;
}

/* input ::placeholder 样式 */
input.line_input::placeholder {
    color: #FFFFFF;
}
input.line_input::-webkit-input-placeholder {
    color: #FFFFFF;
}
input.line_input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #FFFFFF;
}
input.line_input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #FFFFFF;
}
input.line_input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #FFFFFF;
}

.input_pwd {
    margin: 20px 0 auto;padding: 5px;font: 20px arial,sans-serif;width: 200px;border-radius: 5px;border: 1px solid #DDD;
}

/* div 左边固定宽度，右边填充 */
.use-flex {
    display:flex;
}
.use-flex>div:first-child {
    flex:none;
    width:100px;
}
.use-flex>div:last-child {
    flex:1;
}

/*
markdown css (全局使用)

code 部分是 prismjs style
table 部分是 showdown demo style
anchor 部分是 GitHub style
*/

h1, h2, h3, h4, h5, h6 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 800;
    line-height: 1.25;
}

h1 {
    padding-bottom: 0.3em;
    font-size: 2em;
}

h2 {
    padding-bottom: 0.3em;
    font-size: 1.5em;
}

h3 {
    font-size: 1.25em;
}

h4 {
    font-size: 1em;
}
h1:hover .octicon, h2:hover .octicon, h3:hover .octicon, h4:hover .octicon, h5:hover .octicon, h6:hover .octicon {
    visibility: visible;
}
.anchor {
    float: left;
    line-height: 1;
    margin-left: -20px;
    padding-right: 4px;
}
.anchor:focus .octicon {
    visibility: visible;
}
.octicon {
    display: inline-block;
    fill: currentColor;
    color: #1b1f23;
    vertical-align: middle;
    visibility: hidden;
}

hr {
    height: 0.2em;
    border: 0;
    color: #CCCCCC;
    background-color: #CCCCCC;
}

p, blockquote {
    margin: 15px 0;
}

blockquote {
  border-left: 4px solid #DDD;
  padding: 0 15px;
  color: #777; 
}
blockquote > :first-child {
    margin-top: 0; }
blockquote > :last-child {
    margin-bottom: 0; 
}

:not(pre) > code {
    padding: .1em;
    border-radius: .3em;
    white-space: normal;
}

:not(pre)>code, pre {
    background-color: #f5f2f0;
}

pre {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
}

code, pre {
    color: #000;
    text-shadow: 0 1px #fff;
    font-family: Consolas,Monaco,'Andale Mono',monospace;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

figure {
    text-align: center;
    max-width:64em;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}

img {
    margin: auto;
    max-width: 100%;
    -ms-interpolation-mode: bicubic;
}

a, a:visited {
    color: #4183C4;
    background-color: inherit;
    text-decoration: none;
}
a:hover {
    color: #4183C4;
    background-color: inherit;
    text-decoration: underline;
}

li p {
    margin: 0;
}

/* 目录样式 */
.cat ul {
    list-style-type: none;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

.cat ul ul {
    list-style-type: none;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

.cat li, li {
    padding-top: 0em;
    padding-bottom: 0em;
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    display: block;
    margin: 1em 0;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

ul ul {
    display: block;
    margin: 0 40px 0 0;
    list-style-type: circle;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

table {
	background: #fff;
	border: solid 1px #ddd;
	margin-bottom: 1.25rem;
	table-layout: auto
}

table caption {
	background: transparent;
	color: #222;
	font-size: 1rem;
	font-weight: bold
}

table thead {
	background: #F5F5F5
}

table thead tr th,table thead tr td {
	color: #222;
	font-size: 0.875rem;
	font-weight: bold;
	padding: 0.5rem 0.625rem 0.625rem
}

table tfoot {
	background: #F5F5F5
}

table tfoot tr th,table tfoot tr td {
	color: #222;
	font-size: 0.875rem;
	font-weight: bold;
	padding: 0.5rem 0.625rem 0.625rem
}

table tr th,table tr td {
	color: #222;
	font-size: 0.875rem;
	padding: 0.5625rem 0.625rem;
	text-align: left
}

table tr.even,table tr.alt,table tr:nth-of-type(even) {
	background: #F9F9F9
}

table thead tr th,table tfoot tr th,table tfoot tr td,table tbody tr th,table tbody tr td,table tr td {
	display: table-cell;
	line-height: 1.125rem
}

/* .has-jax 是 Mathjax 公式样式 */
.has-jax, .diagram {
    overflow-x: scroll;
}

 /* for Chrome */
.has-jax::-webkit-scrollbar, .diagram::-webkit-scrollbar{
    display: none;
}
